<template>
  <header id="strip-container" class="container-flex h-100">
		<a id="login-btn" href="#signin" class="login hvr-pulse">
			<div class="animated fadeIn">
				<i class="material-icons">exit_to_app</i> 
				<div class="login-txt">Log in</div>
			</div>
		</a>
        
        <div class="container">
            <div class="row row-eq-height">
                 <div id="strip" class="col-12 strip"> 
                   <div class="strip-container animated fadeIn">
                       <div class="logo animated fadeIn"></div>
                       <div>
						   <h2>TITLE</h2><h1 class="color-alt-two">SUB-TITLE</h1><h2>SUB-SUB-TITLE</h2>
					   </div>                       
                       <!-- <div class="co-brand"></div>-->
                        <a id="signup-btn" href="#" class="button button-lrg" style="display:block">Sign Up</a><!-- show button-->
					  <!-- <div class="game-logo animated jello delay-2s"></div>-->
                   </div>
               </div>              
            </div>
        </div>
    </header>
</template>
