<template>
  <div>
    <Header />
    <div class="gb">
      <section class="container-flex bg-alt steps animated fadeIn">
        <div class="container">
          <div class="row">
            <div class="col-4 animated fadeIn delay-0s">
              <div class="num">1</div>
              <div class="step">
                <h2>1 Title</h2>
                <h3>1 Desc</h3>
              </div>
            </div>
            <div class="col-4 animated fadeIn delay-1s">
              <div class="num">2</div>
              <div class="step">
                <h2>2 Title</h2>
                <h3>2 Desc</h3>
              </div>
            </div>
            <div class="col-4 animated fadeIn delay-2s">
              <div class="num">3</div>
              <div class="step">
                <h2>3 Title</h2>
                <h3>3 Desc</h3>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section id="terms-anchor" class="container animated fadeIn"></section>
    <section id="terms" class="container animated fadeIn">
      <div class="row">
        <div class="col-12">
          <h3 class="text-left">Terms &amp; Conditions</h3>
          <ul class="terms-ul">
            <li>Terms go here</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
var lang_code = '%language_code%';
var country_code = '%country_code%';

import Header from '~/components/Header.vue'

export default {
  components: {
    Header
  }
}
</script>

<style>
#strip-container { background: url('~assets/images/bg.jpg') no-repeat top center; background-size: cover; }
@media only screen and (max-width: 575px) {
  #strip-container { background: url('~assets/images/bg_m.jpg') no-repeat top center; background-size: cover; }
}
.game-logo { background: url('~assets/images/game-logo.png') no-repeat center; background-size: contain; width: auto; height: 150px; z-index:999999; }
.co-brand { background: url('~assets/images/co-branded-logo.png') no-repeat center; background-size:contain; width: 100%; height:100px;}
</style>
